{% extends "userLayout.html" %}


{% block body %}
<!-- background: #222 url('https://unsplash.it/1920/1080/?random') center center no-repeat; -->
<header class="masthead" style="background-image: url('https://unsplash.it/1920/1080/?random')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Clear Blog</h1>
                    <span class="subheading">Blogs by various people on various topics</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->

<!-- <button type="button" class="btn btn-primary btn-lg btn-block">Add your post here!!</button> -->
<div class="container px-4 px-lg-5">
  
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            
            <!-- Post fetched from database  -->
            <!-- Post preview-->
        {% for post in posts %}
        <a href="/post/{{post.slug}}" style="display: block; height: auto;width: auto;">
            <div class="post-preview">
                
                    <h3 class="post-title">{{post.title}}</h2>
                    
                
                <h4 class="post-subtitle">{{post.tagline}}</h3>
                <p class="post-meta">
                    Posted by
                    {{post.by}}
                    on {{post.date}}
                </p>
            </div>
            {{post.content[0:150]}}...


        </a>
        {% if current_user.has_liked_post(post) %}
    <a href="{{ url_for('like_action', post_id=post.post_id, action='unlike') }}" style="color: red;"><i class="fa fa-thumbs-up redincolor" aria-hidden="false"></i></a>
  {% else %}
    <a href="{{ url_for('like_action', post_id=post.post_id, action='like') }} " style="color: grey;"><i class="fa fa-thumbs-up redincolor" aria-hidden="false"></i></a>
  {% endif %}

 
  {{ post.likes.count() }} likes
  <div class="container">
    <div class="row">
  <div class="col-sm-5 col-md-6 col-12 pb-4">
    <h4>Comments</h1>
    {% for comment in comments %}
    {%if  comment.post_id == post.post_id %}
    <div class="comment mt-4 text-justify float-left"> 
        
        <p>{{comment.comment_data }}</p>
    </div>
    {% endif %}
    {% endfor %}
</div>
</div>
<div class="row">
<div class="col-sm-5 col-md-6 col-12 pb-4">
    <form id="algin-form" action="{{ url_for('comment_action', post_id=post.post_id,action='comment') }}" method="post">
        <div class="form-group">
            <h4>Leave a comment</h4> <label for="comment_data">Message</label> <textarea style="width: 500px; height: 80px; background-color: black; color: white;" name="comment_data" id="" msg cols="30" rows="5" class="form-group"></textarea>
        </div>
        
       
        
        <div class="form-group"> <button type="submit" id="post" class="btn">Post Comment</button> </div>
    </form>
</div>
</div>
</div>
<!-- <form action="{{ url_for('comment_action', post_id=post.post_id,action='comment') }}" method="post">
    <input type="text" name='comment_data'>
    <input type="submit" value="Comment">
</form> -->

        
            <!-- Divider-->
          
           
       
            <!-- Divider-->
            <hr class="my-4" />

        {% endfor %}
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4 float-left"><a class="btn btn-primary text-uppercase " href="{{prev}}"> &larr; Previous </a></div>
            <div class="d-flex justify-content-end mb-4 float-right"><a class="btn btn-primary text-uppercase " href="{{next}}"> Next &rarr;</a></div>
        </div>
    </div>
</div>
{% endblock %}

